---
import Layout from "@/layouts/Layout.astro";
---

<Layout>
    <div
        class="grid grid-cols-1 md:grid-cols-2 gap-4 items-center justify-center"
    >
        <h1 class="text-2xl font-bold">Access admin panel</h1>
        <p class="text-sm text-muted-foreground">
            Access the admin panel to manage the database and the application.
        </p>
        <a href="https://pm-db.fly.dev/_/" class="btn btn-primary">
            Access admin panel
        </a>
    </div>
</Layout>
