---
import BaseLayout from "./BaseLayout.astro";
---

<BaseLayout>
	<div class="min-h-screen">
		<main
			class="max-w-6xl mx-auto px-4 sm:px-6 pt-8 pb-28 sm:pt-12 sm:pb-16"
		>
			<slot />
		</main>
	</div>
</BaseLayout>
