---
import BaseLayout from "./BaseLayout.astro";
import { useTranslations, getLangFromUrl } from "@/i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<BaseLayout title={t("auth.login")} bodyClass="min-h-screen flex flex-col justify-center items-center">
	<main class="p-6">
		<slot />
	</main>
</BaseLayout>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
